<h1>Listing posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th>Tag</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= post.tag %></td>
    <td><%= post.user.username %></td>
    <td><%= link_to 'Show', post %></td>
<% if can? :edit, post %>
    <%= link_to 'Edit', edit_post_path(post) %>
<% end %> 
<% if can? :destroy, post %>  
    <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
<% end %>
<% end %>
</table>

<%= link_to 'New Post', new_post_path %>

