<!DOCTYPE html>
<html>
<head>
  <title>Deneme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" style="margin-bottom: 80px;" >
   <div class="content">
     <div class="row">
       <div class="span9">
        <% [:notice, :error, :alert].each do |level| %>
          <% unless flash[level].blank? %>
            <div data-alert="alert" class="alert alert-<%= level %> fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <%= content_tag :p, simple_format(flash[level]) %>
            </div>
           <% end %>
        <% end %>
       </div>
   </div>
</div>

<%= yield %>

</body>
</html>
